@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;

}

.container{
    position: static;
    justify-content: center;
    max-width: 1068px;
}

body{
    display: grid;
     place-items: center;
    min-height: 100vh;
    background-color: brown;
}

.card{
    width: auto;
    background-color: black;
    padding: 3rem 2rem;
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.property{
    color: white;
    display: flex;
    align-items:flex-start;
    margin: 1rem 0;
    column-gap: 1rem;
}

.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30vw;
    height: 10vh;
    margin-bottom: 2rem;
    background-color: black;
    border-radius: 20px;
}
.search-form input,
.search-form button{
    flex-basis: 60%;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

.search-form button{
    flex-basis: 30%;
    cursor: pointer;
    border-left:1px solid;
    
}
.search-form button:hover{
    background-color: bisque;
    color: black;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



@media (max-width: 1024px) {
    .search-form {
        width: 40vw;
        height: auto;
    }

    .search-form input,
    .search-form button {
        flex-basis: 100%;
        margin: 0.5rem 0;
        font-size: 0.9rem;
    }

    .card {
        padding: 2rem 1.5rem;
    }
}

/* For smaller tablets and mobile devices (width <= 768px) */
@media (max-width: 768px) {
    .search-form {
        width: 50vw;
        height: auto;
    }

    .search-form input,
    .search-form button {
        font-size: 0.85rem;
    }
    .search-form button{
        cursor: pointer;
        border-left:0px solid;
        flex-basis: 40%;
    }

    .card {
        padding: 1.5rem 1rem;
    }
}

/* For mobile phones (width <= 480px) */
@media (max-width: 480px) {


    .search-form {
        width: 80vw;
        height: auto;
        position: static;

    }

    .search-form input,
    .search-form button {
        font-size: 0.75rem;
        padding: 0.5rem;
    }
    .search-form button{
        cursor: pointer;
        border-left:0px solid;
        flex-basis: 40%;
    }
    .card {
        padding: 1rem 0.75rem;
    }
}